<div id="footer">
  <h1>Contacts</h1>
  <p>Feel free to reach out!</p>
  <div class="f-row">
    <div class="social-icns">
      <a href="https://github.com/DKC195" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://instagram.com/DKC195" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://facebook.com/DKC195" target="_blank"><i class="bi bi-facebook"></i></a>  
      <a href="https://www.linkedin.com/in/dkc195" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a href="https://www.twitter.com/dkc195" target="_blank"><i class="bi bi-twitter"></i></a>
    </div>
  </div>
</div>